/*
	Load css for default

	
*/
.header_left {
	background-color: #ffffff;
}

.header_right {
	background-color: #ffffff;
}

.sidebar {
	background-color: #666666;
}

.navbar-fixed-bottom {
	background-color: #666666;
	border: 0px;
}

.nav_area .menu_item_wrapper .menu_item {
	background: #666666 !important;
}

.nav_area .panel-default {
	border-color: #666666 !important;
}

.nav-menu {
	background: #666666 !important;
}

/*MENU ON HOVER*/
.nav_area .nav-menu:hover {
	background: #e00032 !important;
}

.nav_area .menu_item_wrapper .menu_item a:hover, .nav_area .menu_item_wrapper .menu_item a:focus
	{
	text-decoration: none;
}

.active-link{
	background-color: #e00032 !important;
}

.home {
	background-color: #e00032 !important;
}

.submit_button {
	background-color: #e00032 !important;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.icon_holder .glyphicon {
	color: #e00032;
}

.user_profile {
	color: #e00032;
}

.content-user-profile {
	color: #e00032;
}

.arrow-up {
	border-bottom: 10px solid #666666;
}

.dropdown-menu-user-profile {
	background: #666666 !important;
}

/* modal css */

/* .popin-donnee .modal-header, .popin-donnee .modal-footer {
	background-color: #666666;
}
 */


/* .popin-donnee .modal-header .btn:hover, .popin-donnee .modal-footer .btn:hover {
	color: #ffffff;
	background: #e00032;
} */

.pagination>.active>a {
	background-color: #e00032;
	border-color: #e00032;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e00032;
    border-color: #e00032;
}

/* numbered list for documents info cee */
.numberlist a {
	background: #FFF;
	color: #666666;
}

.numberlist a:hover, .numberlist a:hover span {
	background: #e00032;
}



.numberlist a:before {
	background: #e00032;
}

.numberlist .expand {
	border: 1px solid #666666;
}

.numberlist span {
	color: #7f8c8d;
}
/* numbered list for documents info cee */

/* info cee card hover */
.card-test:hover .btn-default {
	color: #fff;
	background-color: #e00032;
	border-color: #e00032;
}

.card-test:hover .card {
	border-color: #e00032;
}

.card .glyphicon {
	color: #df5952;
}
/* info cee card hover */
.submit_button_holder .btn-primary {
	border-color: #e00032;
}

.fc-head tr {
	background: #666666 !important;
}

.fc-right button {
	background: #e00032 !important;
}

.fc-day-grid {
	background: #f9f9f9;
}

*******************************************************************
************************ TABS Rechercher **************************

.with-nav-tabs {
	border-color:#666666;
}

.panel-default > .tabs-rechercher, .panel-default > .tabs-administration {
	background:#666666; /* #01afba; */
}

.nav-tabs>li>a:hover {
    background-color: #e00032!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e00032!important;
}


**************************************************************************************

.select-items .same-as-selected div {
  	background-color: #e00032!important;
  	color: blue!important;
}


.select-items div:hover,.same-as-selected {
  	background-color: #e00032!important;
  	color: #fff!important;
}

input[type='radio']:checked:after {
        border: 6px solid #e00032;
}

input[type='checkbox']:checked:after {
        border: 6px solid #e00032;
}


.numberlist .nav-pills>li.active>a {
    color: #fff;
    background-color: #e00032;
}

.numberlist .tab-content{
	border: 1px solid #e00032;
}

.fc-today {
	font-weight: 600;
	background: #e00032 !important;
	color: #ffff;
}


/* couleur par filiale */
.aLink, .aLink:hover, .aLink:focus {
	color: #e00032;
}

