/*
	Load css for AS24

	
*/
.header_left {
	background-color: #004097;
}

.header_right {
	background-color: #ffffff;
}

.sidebar {
	background-color: #272727;
}

.navbar-fixed-bottom {
	background-color: #272727;
	border: 0px;
}

.nav_area .menu_item_wrapper .menu_item {
	background: #272727 !important;
}

.nav_area .panel-default {
	border-color: #272727 !important;
}

.nav-menu {
	background: #272727 !important;
}

/*MENU ON HOVER*/
.nav_area .nav-menu:hover {
	background: #004097 !important;
}

.nav_area .menu_item_wrapper .menu_item a:hover, .nav_area .menu_item_wrapper .menu_item a:focus
	{
	text-decoration: none;
}

.active-link{
	background-color: #004097 !important;
}

.home{
    background-color: #004097!important;
}

.submit_button {
	background-color: #004097 !important;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.icon_holder .glyphicon{
	color:#004097;
}

.user_profile{
	color:#004097;
}

.content-user-profile {
	color: #004097;
}

.arrow-up {
    border-bottom: 10px solid #272727;
}

.dropdown-menu-user-profile {
	background: #272727 !important;
}

/* modal css */

/* .popin-donnee .modal-header, .popin-donnee .modal-footer {
	background-color: #272727;
} */

/* .popin-donnee .modal-header .btn:hover, .popin-donnee .modal-footer .btn:hover {
	color: #ffffff;
	background: #004097!important; 
} */

.pagination>.active>a{
	background-color:#004097;
	border-color: #004097;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #004097;
    border-color: #004097;
}

/* numbered list for documents info cee */
.numberlist a{
    background: #FFF;
    color: #272727;
}

.numberlist a:hover, .numberlist a:hover span {
	background:#004097;
}

.numberlist a:before{
    background: #004097;
}

.numberlist .expand {
    border: 1px solid #272727;
}
  
.numberlist span {
	color: #7f8c8d;
}
/* numbered list for documents info cee */

/* info cee card hover */
.card-test:hover .btn-default {
	color: #fff;
    background-color: #004097;
    border-color: #004097;
}

.card-test:hover .card {
    border-color: #004097;
}

.card .glyphicon {
	color: #004097;
}
/* info cee card hover */


.submit_button_holder .btn-primary{
	border-color: #004097;
}
.fc-head tr{
	background: #272727!important;
}

.fc-right button{
	background: #004097!important;
}


.fc-day-grid{
	background:#f9f9f9;
}


*******************************************************************
************************ TABS Rechercher **************************

.with-nav-tabs {
	border-color:#272727;
}

.panel-default > .tabs-rechercher, .panel-default > .tabs-administration {
	background:#272727; /* #01afba; */
}

.nav-tabs>li>a:hover {
    background-color: #004097!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #004097!important;
}


**************************************************************************************


.select-items .same-as-selected div {
  	background-color: #004097!important;
  	color: blue!important;
}


.select-items div:hover,.same-as-selected {
  	background-color: #004097!important;
  	color: #fff!important;
}

input[type='radio']:checked:after {
        border: 6px solid #004097;
}

input[type='checkbox']:checked:after {
        border: 6px solid #004097;
}

.numberlist .nav-pills>li.active>a {
    color: #fff;
    background-color: #004097;
}

.numberlist .tab-content{
	border: 1px solid #004097;
}

.fc-today {
	font-weight: 600;
	background: #004097 !important;
	color: #ffff;
}

/* couleur par filiale */
.aLink, .aLink:hover, .aLink:focus {
	color: #004097;
}

.stat_icon_wrapper .glyphicon-stats{
	color: #004097;
}

#collapseHistoSim .searchTerm {
    border: 2px solid #004097;
  }
  
  #collapseHistoSim .form-control:focus {
    border-color: #004097;
    box-shadow: none;
}
  
#collapseHistoSim .searchButton {
    border: 1px solid #004097;
    background: #004097;
  }