/*
	Load css for CLMB

*/
.header_left {
	background-color: #ffffff;
}

.header_right {
	background-color: #ffffff;
}

.sidebar {
	background-color: #576777;
}

.navbar-fixed-bottom {
	background-color: #576777;
	border: 0px;
}

.nav_area .menu_item_wrapper .menu_item {
	background: #576777 !important;
}

.nav_area .panel-default {
	border-color: #576777 !important;
}

.nav-menu {
	background: #576777 !important;
}

/*MENU ON HOVER*/
.nav_area .nav-menu:hover {
	background: #01afba !important;
}

.nav_area .menu_item_wrapper .menu_item a:hover, .nav_area .menu_item_wrapper .menu_item a:focus
	{
	text-decoration: none;
}

.active-link {
	background-color: #01afba!important;
}

.home{
    background-color: #01afba!important;
}

.submit_button {
	background-color: #01afba !important;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.icon_holder .glyphicon {
	color: #01afba;
}

.user_profile {
	color: #01afba;
}

.content-user-profile {
	color: #01afba;
}

.arrow-up {
    border-bottom: 10px solid #576777;
}

.dropdown-menu-user-profile {
	background: #576777 !important;
}



.popin-donnee .modal-header, .popin-donnee .modal-footer {
	/* background-color: #576777; */
}

.popin-donnee .modal-header .btn:hover, .popin-donnee .modal-footer .btn:hover {
	/* color: #ffffff;
	background: #01afba; */
}

.pagination>.active>a{
	background-color:#01afba;
	border-color: #01afba;
}

/* numbered list for documents info cee */
.numberlist a{
    background: #FFF;
    color: #444;
}

.numberlist a:hover, .numberlist a:hover span {
	background:#01afba;
}

.numberlist a:before{
    background: #01afba;
}

.numberlist .expand {
    border: 1px solid #444;
}
  
.numberlist span {
	color: #7f8c8d;
}
/* numbered list for documents info cee */

/* info cee card hover */
.card-test:hover .btn-default {
	color: #fff;
    background-color: #01afba;
    border-color: #01afba;
}

.card-test:hover .card {
    border-color: #01afba;
}

.card .glyphicon {
	color: #01afba;
}
/* info cee card hover */

.submit_button_holder .btn-primary{
	border-color: #01afba;
}
.fc-head tr{
	background: #576777!important;
}

.fc-right button{
	background: #01afba!important;
}

.fc-day-grid{
	background:#f9f9f9;
}


*******************************************************************
************************ TABS Rechercher **************************

.with-nav-tabs {
	border-color:#576777;
}

.panel-default > .tabs-rechercher {
	background:#576777; /* #01afba; */
}

.nav-tabs>li>a:hover {
    background-color: #01afba!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #01afba!important;
}


**************************************************************************************


.select-items .same-as-selected div {
  	background-color: #01afba!important;
  	color: blue!important;
}


.select-items div:hover,.same-as-selected {
  	background-color: #01afba!important;
  	color: #fff!important;
}

input[type='radio']:checked:after {
        border: 6px solid #01afba;
}

input[type='checkbox']:checked:after {
        border: 6px solid #01afba;
}

.numberlist .nav-pills>li.active>a {
    color: #fff;
    background-color: #01afba;
}

.numberlist .tab-content{
	border: 1px solid #01afba;
}

.fc-today {
	font-weight: 600;
	background: #01afba !important;
	color: #ffff;
}