/*
	Load css for Capeb

	
*/

.header_left{
	background-color: #ffffff;
}
.header_right {
	background-color: #ffffff;
}

.sidebar {
	background-color: #484848;
}

.navbar-fixed-bottom {
	background-color: #484848;
	border:0px;
}

.nav_area .menu_item_wrapper .menu_item {
    background:#484848!important;
}

.nav_area .panel-default{
    border-color:#484848!important; 
    
}

.nav-menu {
    background:#484848!important;
}


/*MENU ON HOVER*/
.nav_area .nav-menu:hover{
    background: #df5952!important;
    
}


.nav_area .menu_item_wrapper .menu_item a:hover, .nav_area .menu_item_wrapper .menu_item a:focus {
    text-decoration: none;
}

.active{
    background-color: #df5952!important;
}

.home{
    background-color: #df5952!important;
}

.submit_button {
	background-color: #df5952 !important;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.icon_holder .glyphicon{
	color:#df5952;
}

.user_profile{
	color:#df5952;
}

.content-user-profile {
	color: #df5952;
}

.arrow-up {
    border-bottom: 10px solid #484848;
}

.dropdown-menu-user-profile {
	background: #484848 !important;
}

