body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.table {
	width: 100%;
}

header, footer, .page_area {
	float: left;
	width: 100%;
}

/* Header */
header {
	background-color: #ffffff;
}

footer {
	color: #ffffff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	vertical-align: middle;
}

.navbar .navbar-default .navbar-fixed-bottom {
	border: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header_left {
	max-width: 220px;
	min-width: 220px;
	height: 70px;
}

.header_left .logo_wrapper {
	float: left;
	max-width: 200px;
	min-width: 200px;
	border: 0px solid blue;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 0px;
}

.header_left .logo_wrapper img {
	max-width: 200px;
	min-width: 200px;
	height: 70px;
	border: 0px solid red;
}

.navbar-area .mobile_nav_trigger {
	display: none;
	font-size: 28px;
	padding: 15px;
	cursor: pointer;
}

.header_center {
	width: 100%;
}

.header_right {
	max-width: 420px;
	min-width: 420px;
	float: right;
	top: 0px;
}

.header_right .icon_container {
	border: 0px solid yellow;
	top: 50%;
	position: relative;
	float: right;
	transform: translateY(-50%);
}

.header_right .icon_holder {
	float: right;
	color: #ffffff;
	font-size: 17pt;
	margin: 5px 12px;
}

.header_right .icon_holder .glyphicon {
	float: left;
}

.user_profile_holder {
	border: 1px solid transparent;
	float: right;
	right: 140px;
	position: absolute;
	width: 205px;
	height: 45px;
	padding: 10px 0px;
	top: -6px;
	text-align: right;
	border-right-color: gray;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	padding-right: 12px;
	min-width: max-content;
}

.user-name-holder {
	padding-right: 5px;
}

.user_profile {
	text-decoration: none;
}

.icon_holder .user {
	display: none;
	margin-right: 0px;
	text-decoration: none;
}

.dropdown-menu-user-profile {
	position: absolute;
	top: 48px;
	left: -63px;
	z-index: 1000;
	float: left;
	min-width: 240px;
	padding: 2px 0 2px;
	margin: 4px 0 1px;
	font-size: 14px;
	text-align: left;
	border-radius: 0px;
	color: black;
}

.content-user-profile {
	padding: 15px;
	margin: 10px;
	font-weight: 700;
	display: flex;
	background: #ffffff !important;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: 0px;
	margin-right: 0px;
}

.badge-notify {
	background: red;
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	float: left;
}

.notifications_area {
	padding: 15px;
}

.navbar {
	background-color: #ffffff;
}

.navbar-area {
	width: 100%;
	height: 70px;
	display: flex;
	padding: 0px;
	border: #2e353d 0px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0
		rgba(0, 0, 0, .12);
}

/*
 Sidebar / main

*/
.main {
	padding: 40px 5px 25px 5px;
	margin-left: 110px;
	border: 0px solid blue;
	min-height: 100vh;
	position: relative;
	padding-bottom: 35px !important;
}

.bd-content {
	-ms-flex-order: 1;
	order: 1;
	min-height: calc(100vh - 105px);
}

/* Page Area */
.page_area {
	min-height: 100vh;
	background-color: #ebe9e5;
	border: 0px solid orange;
}

.sidebar {
	position: fixed;
	top: 70px;
	z-index: 1019;
	height: 100%;
	overflow-y: none;
	border: 0px solid #2e353d;
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
	padding-top: 0px;
	padding-bottom: 1rem;
	min-height: 100vh;
	display: block !important;
	min-width: 220px;
	max-width: 220px;
	transition: all 0.3s;
}

.nav_area .nav-menu:hover{
    cursor: pointer;
}

.nav_area .panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 15px 15px 0px 15px;
	height: 50px;
}

.nav_area .menu_item_wrapper {
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #f5f5f5;
}

.nav_area .menu_item_wrapper .menu_item {
	border-radius: 0 !important;
	/*border-bottom-width: 0px!important;
    border-left-width: 0px!important;
    border-right-width: 0px!important;
    border-top-width: 0px!important;*/
	border-width: 0px 0px 0px 0px;
}

.nav_area .menu_item_wrapper .menu_item a span {
	margin-right: 10px;
	color: #ffffff;
	font-size: 14px;
}

.nav_area .menu_item_wrapper .menu_item a:hover, .nav_area .menu_item_wrapper .menu_item a:focus
	{
	text-decoration: none;
}

.nav_area .panel-body {
	background: #5b91e7 !important;
	color: white !important;
}

/* end sidebar / main */

/* Footer */
.navbar-fixed-bottom {
	min-height: 25px !important;
	font-size: 12px;
}

.copyright_area {
	padding: 4px 0px 0px;
}

#menu-close {
	display: none;
}

/* close button */
.close {
	position: absolute;
	right: 15px;
	top: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}

.close:hover {
	opacity: 1;
}

.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: black;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.icon_holder a {
	text-decoration: none;
	color: white;
}

/* Recherche */
/*Search Area*/
.panel_header_element {
	margin-right: 15px;
}

.search_area {
	float: left;
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	padding-bottom: 40px;
}

.search_area .row {
	margin-bottom: 10px;
}

.search_area .search_last_row {
	margin-bottom: 0;
}

.form_search_bar .form-group {
	width: 100%;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #303030;
	font-size: 13px;
    margin-bottom: 10px;
}

.form_search_bar .form-group .form_label {
	min-width: 145px;
	text-align: left;
	margin-right: 10px;
	vertical-align: center !important;
}

.form_search_bar .form-group .form_input {
	width: 100%;
}

.form_search_bar .form-group .form_input input[type=text],
	.form_search_bar .form-group .form_input .datepicker, .form_search_bar .form-group .form_input select
	{
	width: 100%;
}

.search_area .checkbox-inline {
	margin-left: 0;
}

.search_area .submit_button_holder {
	text-align: right;
}

.search_area .submit_button_holder button {
	position: absolute;
	top: 12px;
	right: 15px;
}

#formSearchBar #numAction, #formSearchBar #versionOS {
	width: 100%;
}

#resultatRecherche thead, #resultatRecherche tbody,
	#detailDossierOperations thead, #detailDossierOperations tbody,
	#infoBeneficiaire thead, #infoBeneficiaire tbody, #listesDesDocs thead,
	#listesDesDocs tbody, #info_importantes thead, #info_importantes tbody,
	#changement_fiche thead, #changement_fiche tbody,
	#changement_partenariat thead, #changement_partenariat tbody,
	#listesDesDocs thead, #listesDesDocs tbody, #dossiersEnCours thead,
	#dossiersEnCours tbody, #dossiersDeposes thead, #dossiersDeposes tbody,
	#dossiersPayes thead, #dossiersPayes tbody, #listeDossiers thead,
	#listeDossiers tbody {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #303030;
}

.col-changement, .col-detail-dossier {
	width: 90%;
}

.form-control {
	height: 34px;
	padding: 4px 6px;
}

/* End Search Area*/

/* Customise Panel Element */
.panel_header_element a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
}

.dataTables_scrollHead {
	font-size: 13px;
}

/* arrow for inverted triangle */
.arrow-up {
	width: 0;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid green;
	position: absolute;
	top: -10px;
	left: 63px;
	display: block;
}

.display {
	display: block;
}

caption {
	padding-top: 8px;
	padding-bottom: 5px;
	color: #777;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
}

/* detail du dossier */
.detailDossier {
	position: relative;
	padding: 10px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    margin-bottom: 0;
    width: auto;
	font-family: 'Open Sans', sans-serif;
}

#collapseDetailDossier .detailDossier h5 {
	font-family: 'Open Sans', sans-serif;
	margin: 8px;
	font-size: 15px;
}

.enteteDossier{
	padding-top: 8px;
	padding-bottom: 5px;
	color: #777;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
}


/* calendar */
.fc-time, .fc-title {
	display: none;
}

.fc-event {
	border: 5px solid #e4043b;
}

#collapseCalendrier {
	text-align: center;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 6px;
}

/* info importante */
.info-importante {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 5px;
	margin-bottom: 25px;
}

.calendar {
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 5px;
	margin-bottom: 35px;
}

/* calendar */

/*calendar legend */
.grc-calendar-legend {
	padding: 10px 0px 0;
	font-weight: bold;
	border: 0px solid red;
	min-height: 100%;
	min-width: 100%;
}

.grc-calendar-legend li {
	display: inline-block;
	padding: 5px 0px;
	text-align: left;
	font-size: 14px;
	font-family: 'Open Sans', sans serif;
}

.grc-calendar-legend li:not(last-child) {
	margin-right: 15px
}

.grc-calendar-legend .echeance-change {
	background-color: #e4043b;
	width: 50px;
	height: 20px;
	display: inline-flex; /* the default for span */
	margin-right: 10px;
	padding: 5px;
}

.grc-calendar-legend .renouvellement-change {
	background-color: #ecae05;
	width: 50px;
	height: 20px;
	display: inline-flex; /* the default for span */
	margin-right: 10px;
	padding: 5px;
}

.grc-calendar-legend .date-change {
	background-color: #82b20d;
	width: 50px;
	height: 20px;
	display: inline-flex; /* the default for span */
	margin-right: 10px;
	padding: 5px;
}

.grc-calendar-legend .list-group-item {
	border: 0px;
}

.grc-calendar-legend .list-group {
	padding-left: 0;
	margin-bottom: 8px;
	display: inline-grid;
	float: left;
}

.fc-day-grid-container {
	height: 100% !important;
}

.fc-scroller {
	overflow-y: none;
}

.fc-toolbar .fc-center {
	font-size: 13px;
}

.fc-center h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 8px;
	font-size: 14px;
}

#bootstrapModalFullCalendar {
	min-height: 450px;
}

.service-list {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	display: inline-block;
}

.service-list img {
	float: left;
}

.service-list p, h3 {
	text-align: right;
	display: inline-block;
	padding-left: 5px;
}

/* piloter mon activite */
#collapseListeDossiers .submit_button_holder, #collapseDossiersPayes .submit_button_holder,
	#collapseDossiersEnCours .submit_button_holder,
	#collapseDossiersDeposes .submit_button_holder {
	text-align: right;
}

#filiales {
	width: 70%;
}

.filtre-option-filiales {
	display: flex;
}

.filtre-container{
	
}

/*End piloter mon activite*/
#collapseListeDossiers .submit_button_holder button,
	#collapseDossiersPayes .submit_button_holder button,
	#collapseDossiersEnCours .submit_button_holder button,
	#collapseDossiersDeposes .submit_button_holder button {
	position: inherit;
	top: 10px;
	left: 15px;
}

/* info cee */
.card {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	color: #444;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #f5f5f5;
	text-align: center;
	padding-top: 10px;
	float: left;
  }
	.card:before {
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  background-color: #eee;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	  border-radius: 30px;
	  font-size: 28px;
	  font-style: normal;
	  left: 50%;
	  line-height: 50px;
	  position: absolute;
	  top: -30px;
	  width: 50px;
	}
	.card-question {
	  margin: 15px 0 10px;
	  font-size: 18px;
	}
	.card-separator {
	  width: 100%;
	  margin:  5px 0 5px 0;
	}
	a {
	  text-decoration: none;
	  color: #7f8c8d;
	}
  
	.card-green:before {
	  /* color: #16a085; */
	  content: "\f007";
	  font-family: 'FontAwesome';
	  top: 45px;
	}
	.card-green .card-separator {
	  border: 1px solid #ddd;
	}
  
	.stepwizard-step p {
	  margin-top: 10px;
  }
  .stepwizard-row {
	  display: table-row;
  }
  .stepwizard {
	  display: table;
	  width: 84%;
	  position: relative;
	  margin: 0;
  }
  .stepwizard-step button[disabled] {
	  opacity: 1 !important;
	  filter: alpha(opacity=100) !important;
  }
  .stepwizard-row:before {
	  top: 14px;
	  bottom: 0;
	  position: absolute;
	  content: " ";
	  width: 100%;
	  height: 1px;
	  background-color: #ccc;
  }
  .stepwizard-step {
	  text-align: center;
	  position: relative;
  }
  .btn-circle {
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  padding: 6px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 15px;
  }

  /* info cee */

/* contact-area */

ul.cards-container {
	display: block;
	align-items: center;
	flex-direction: column;
	padding-left:0px;
}

#collapseContactArea .panel-body{
	padding-left:5px!important;
}

.cards-container li {
	margin: 10px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.cards-container li .details {
	float: left;
	text-align: left;
	transition: all 0.5s ease-in-out;
	text-shadow: 1px 1px rgba(0, 0, 0, 0);
	min-width: 200px;
}


.cards-container li .details>span, .cards-container li .details>a {
	display: block;
	padding: 0 15px 0 15px;
	margin-bottom: 15px;
	text-decoration: none;
	position: relative;
}

.cards-container li .details>span:before, .cards-container li .details>a:before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 15px;
	width: 15px;
	text-align: center;
	color: #444;
	
}


.contacts{
	font-family: 'Open Sans', sans-serif!important;
}

.cards-container li .details a {
	color: #57893c;
	transition: color 0.5s ease-in-out;
}

.cards-container li .details .name {
	font-weight: 600;
}

.cards-container {
	list-style: none;
	margin: 0 0 0 0;;
	max-width: 100% !important;
}

.container {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item {
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	font-size: 13px;
	
	padding: 5px;
	min-width: 200px;
	min-height: 50px;
	margin: 10px;
	line-height: 50px;
	color: black;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

/*float layout*/
.float {
	min-width: 220px;
	margin: 0 auto;
}

.float:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.float-item {
	float: left;
}


.contact-container{
	width:22px;
	
}

/* END contact-area */

#collapseDocuments li {
	list-style: unset;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 8px;
	font-size: 14px;
}

#collapseConsulterFiche {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 8px;
	font-size: 16px;
}

 /* add close to modal */
 .modal-header .btn{
	float: right;
}