.msc-confirm {
    display: none;
    color: #252525;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.msc-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 20;
}

.msc-content {
    position: relative;
    z-index: 21;
    background: #fff;
    opacity: 1.0;
    max-width: 480px;
    margin: 10% auto 10% auto;
    padding: 40px;
    border: 1px solid;
    text-align: center;
}

.msc-body {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #666;
}

.msc-action button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 25px;
    min-width: 80px;
    background: #fff;
}
.msc-confirm button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.msc-action button {
    background: #fff;
    cursor: pointer;
}
.msc-ok {
    margin-right: 10px;
}