/* Version: 1.0.0 */
/* Owner: Astek Mauritius Ltd */

/* Main css file for responsive styles */
@media ( max-width : 1919px) {
	f/* ieldset .col-md-2 { {
		width:12%!important;
	} */
}

@media ( max-width : 1450px) {
	/* fieldset .col-md-2 { {
		width:13%important;
	} */
}

@media ( max-width : 1350px) {
	.filter-item {
		width: 400px !important;
	}
}

@media ( max-width : 1150px) {
	.filter-item {
		width: 380px !important;
	}
}

@media ( max-width : 1180px) {
	.icon_holder .user {
		display: block !important;
	}
	.user_profile {
		display: none !important;
	}
	.header_right {
		max-width: 400px;
		min-width: 200px;
	}
	.user_profile_holder {
		width: 55px;
		top: -1px;
	}
	.icon_holder .glyphicon {
		top: 5px;
	}
	
	.filiales-container .form_input, .secteurs-container .form_input, .content-container .form_input {
		width:55%!important;
	}
	
	.form-input-textarea {
		width:100%!important;
	}
}

@media screen and (max-width: 1024px) {
	.nav_area .mobile_nav_trigger {
		display: block;
	}
	.nav_area {
		min-width: 50px;
	}
	.mob_nav_area {
		min-width: 220px;
	}
	.mob_nav_area .menu_item_wrapper {
		display: block;
	}
	.form-group {
		margin-bottom: 15px !important;
	}
	.header_left {
		max-width: 70px;
		min-width: 70px;
	}
	.header_left .logo_wrapper {
		max-width: 70px;
		min-width: 70px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 0px;
	}
	.header_left .logo_wrapper img {
		max-width: 70px;
		min-width: 70px;
		height: 60px;
	}
	.sidebar {
		position: fixed;
		top: 70px;
		min-width: 70px;
		max-width: 70px;
	}
	.main {
		margin-left: 0px;
		padding: 40px 5px 25px 41px;
	}
	.nav_area .menu_title {
		display: none !important;
	}
	.nav_area .panel-title {
		padding-left: 10px;
	}
}

@media ( max-width : 991px) {
	.info-importante {
		padding-right: 0px;
	}
	.calendar {
		padding-left: 0px;
	}
	
	/* fieldset .col-md-2 {
		width:14%important;
	} */
	
	.choisirSecteurContainer {
		padding-right: 0px;
	}
	
	.choisirOperationContainer {
		padding-left: 0px;
	}
}

@media ( max-width : 880px) {
	.date-wrapper .header_label>label,  .date-wrapper .float-item {
		min-width:150px!important;
	}
}

@media ( max-width : 640px) {
}

@media screen and (max-width: 640px) {
	.header_left .logo_wrapper img {
		/*display: none;*/
		right: 0%;
		height: 60px;
	}
	.header_left {
		max-width: 70px;
		min-width: 70px;
		height: 60px;
		border: 0px solid red;
	}
	.navbar-area {
		height: 60px;
	}
	.navbar-area .mobile_nav_trigger {
		display: block;
		padding-left: 0px;
	}
	.sidebar {
		display: none !important;
		min-width: 220px;
		max-width: 220px;
	}
	.main {
		margin-left: 0px;
		padding: 35px 5px 25px 5px;
	}
	.mob_nav_area {
		display: block !important;
		top: 0px;
		z-index: 1091;
		min-width: 220px;
		height: calc(100vh - 135px);
		border: 0px solid orange;
	}
	.nav_area .menu_title {
		display: block !important;
		text-align: left;
		margin-top: -15px;
		margin-left: 27px;
	}
	.mob_nav_area .menu_item_wrapper {
		display: block !important;
	}
	.nav_area .panel-title {
		padding-left: 0px;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1090;
		background: rgba(0, 0, 0, 0.3);
		overflow: hidden;
	}
	.menu-close-wrapper {
		border: 0px solid orange;
		width: 60px;
		height: 52px;
		z-index: 1095;
		position: fixed;
		left: 220px;
		top: 0px;
		background: white;
		display: block !important;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		border-top: 1px solid black;
	}
	.dropdown-menu-user-profile {
		top: 42px !important;
	}
	.cards li {
		display: block;
		width: auto;
		max-width: 200px;
		margin: 30px auto;
	}
	.cards li .details {
		float: none;
	}
	.cards li .details {
		margin-top: 20px;
		text-align: center;
		min-width: 0;
	}
	.cards li .details span, .cards li .details a {
		padding: 0;
		white-space: break-all;
		word-wrap: break-word;
	}
	.cards li .details span:before, .cards li .details a:before {
		display: none;
	}
	
	.filiales-container .form_input, .secteurs-container .form_input, .content-container .form_input {
		width:80%!important;
	}
	
	.form-input-textarea {
		width:100%!important;
	}
}

@media ( max-width : 550px) {
	.filter-item {
		width: 350px !important;
	}
	
	.modal-content {
		width:100%!important;
	}
	
	.filiales-container .form_input, .secteurs-container .form_input, .content-container .form_input {
		width:100%!important;
	}
	
	.form-input-textarea {
		width:100%!important;
	}
}

@media ( max-width : 480px) {
	.filter-item {
		width: 280px !important;
	}
	
	.form_admin_filiales .form-group .form_label, .form_admin_secteurs .form-group .form_label, .form_admin_content .form-group .form_label {
		width:115px!important;
	}
	
	.form-input-textarea {
		width:100%!important;
	}
}

@media ( max-width : 350px) {
	.filter-item {
		width: 250px !important;
	}
	
}

@media ( max-width : 417px) {

	.choisirSecteurPanel .header_output, .choisirOperationPanel .header_output, .critereAsaisirPanel .header_output {
		width:100%;
	}
	
	.partenaire-container .input_holder .form-group, #recherchePiloterActivite .input_holder .form-group,
	.prospect-container .input_holder .form-group {
		display: block;
	}

	.prospect-container .input_holder{
		height: auto;
	}
}

@media ( max-width : 345px) {

	#repartitionFieldset legend {
		width:200px;
	}
}

@media ( max-width : 300px) {
	.form_label>label, .form_label>label {
	    width: 130px!important;
	}
}

@media (min-width: 992px){
	.mentionDevisPanel {
		padding: 0px 5px 2px 0px;
	}
}

@media (max-width: 410px){
	#button_operation #btn_historique {
		margin-top: 10px;
	}
}

@media (max-width: 464px){
	.repartition-container  .header_output, .plusLogement-container .header_output{
		width: 100%;
	}
}

@media (max-width: 466px){
	.plusLogement-container .header_output{
		width: 100%;
	}
}

@media ( min-width : 315px) {
	label[for=versementBenef] {
		min-width:180px!important;
	}
}

@media (max-width: 296px){
	#collapseDetailSimulation #btn_supprimer {
		margin-top: 10px;
	}
}

/* RESPONSIVE */

/* END RESPONSIVE */